@model int

@{
    var MesaId = Model;
}

<div class="modal fade" id="maquina" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal" onclick="RetiraDestaqueMesa()">Fechar</button>
                <button type="button" class="btn btn-primary pull-right margin-right-5" data-dismiss="modal" id="adicionaMaquina">Salvar</button>
                <button type="button" class="btn btn-primary pull-right margin-right-5" id="resetaFormMaquina">Resetar</button>
                <h4 class="modal-title" id="myModalLabel">Adicionar máquina</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" id="idMesa" value=@MesaId type="hidden" />
                    <input class="form-control" id="etiquetaServico" placeholder="Etiqueta de serviço" />
                </div>
                <div class="form-group">
                    <div class="input-group" style="width:320px">
                        <input class="form-control" id="patrimonio" placeholder="Número do patrimônio" type="number" />
                        <span class="input-group-addon mouse-pointer" id="btnPesquisaPatrimonio">
                            <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <select id="dropdown-modeloMaquina" class="form-control">
                        <option value="0">Selecione o modelo</option>
                    </select>
                </div>
                <div class="form-group">
                    <h4>Processador:</h4>
                    <input class="form-control" id="processador" disabled placeholder="Descrição do processador" />
                </div>
                <div class="form-group">
                    <h4>Pentes de Memória RAM:</h4>

                    <div style="width:320px;">
                        <div style="width:158px;" class="inline-block">
                            <label class="inline-block">1:</label>
                            <div style="width:155px;" class="input-group col-centered">
                                <input type="number" min="1" class="form-control" placeholder="Tamanho" id="memoriaRamGB1" disabled />
                                <div class="input-group-addon">GB</div>
                            </div>
                        </div>
                        <div style="width:158px;" class="inline-block">
                            <label class="inline-block">2:</label>
                            <div style="width:155px;" class="input-group col-centered">
                                <input type="number" min="1" class="form-control" placeholder="Tamanho" id="memoriaRamGB2" disabled />
                                <div class="input-group-addon">GB</div>
                            </div>
                        </div>
                    </div>

                    <div style="width:320px;">
                        <div style="width:158px;" class="inline-block">
                            <label class="inline-block">3:</label>
                            <div style="width:155px;" class="input-group col-centered">
                                <input type="number" min="1" class="form-control" placeholder="Tamanho" id="memoriaRamGB3" disabled />
                                <div class="input-group-addon">GB</div>
                            </div>
                        </div>
                        <div style="width:158px;" class="inline-block">
                            <label class="inline-block">4:</label>
                            <div style="width:155px;" class="input-group col-centered">
                                <input type="number" min="1" class="form-control" placeholder="Tamanho" id="memoriaRamGB4" disabled />
                                <div class="input-group-addon">GB</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <h4>Tamanho SSD:</h4>
                    <div class="input-group" style="width:320px">
                        <input class="form-control" type="number" style="top:0;" disabled id="ssd" placeholder="Tamanho do SSD" />
                        <div class="input-group-addon">GB</div>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Tamanho HD:</h4>
                    <div class="input-group" style="width:320px">
                        <input class="form-control" type="number" style="top:0;" disabled id="hd" placeholder="Tamanho do HD" />
                        <div class="input-group-addon">GB</div>
                    </div>
                </div>
                <h2></h2>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>