@model InfraMap.Web.MVC.Models.MesaModel

<div class="modal fade" id="ramal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal" onclick="RetiraDestaqueMesa()">Fechar</button>
                <button type="button" class="btn btn-primary pull-right margin-right-5" data-dismiss="modal" id="adicionaRamal">Salvar</button>
                <h4 class="modal-title" id="myModalLabel">Adicionar ramal</h4>
            </div>
            <div class="modal-body form-horizontal">
                <input class="form-control" id="idMesa" value=@Model.Id type="hidden" />
                <input class="form-control" id="numero" name="nome" placeholder="Digite um ramal" />
                <h2></h2>
                @Html.EnumDropDownListFor(m => m.Ramal.Tipo, new { @id = "tipoRamal", @class = "form-control" })
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>