@model int

@{
    var MesaId = Model;
}

<div class="modal fade" id="maquina" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal" onclick="RetiraDestaqueMesa()">Fechar</button>
                <button type="button" class="btn btn-primary pull-right margin-right-5" data-dismiss="modal" id="adicionaMaquina">Salvar</button>
                <h4 class="modal-title" id="myModalLabel">Adicionar máquina</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" id="idMesa" value=@MesaId type="hidden" />
                    <input class="form-control" id="etiquetaServico" placeholder="Etiqueta de serviço" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="patrimonio" placeholder="Número do patrimônio" />
                </div>
                <div class="form-group">
                    <select id="dropdown-modeloMaquina" class="form-control">
                        <option value="0">Selecione o modelo</option>
                    </select>
                </div>
                <div class="form-group">
                    <h4>Processador:</h4>
                    <input class="form-control" id="processador" disabled placeholder="Descrição do processador" />
                </div>
                <div class="form-group">
                    <h4>Pentes de Memória Ram:</h4>
                    <input class="form-control" type="number" disabled id="unidadesMemoriaRam" placeholder="Número de pentes de memória RAM" />
                </div>
                <div class="form-group">
                    <h4>Tamanho de cada pente:</h4>
                    <div class="input-group" style="width:320px">
                        <input class="form-control" style="top:0;" type="number" disabled id="penteMemoriaRamGB" placeholder="Tamanho de cada pente de memória RAM" />
                        <div class="input-group-addon">GB</div>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Tamanho SSD:</h4>
                    <div class="input-group" style="width:320px">
                        <input class="form-control" type="number" style="top:0;" disabled id="ssd" placeholder="Tamanho do SSD" />
                        <div class="input-group-addon">GB</div>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Tamanho HD:</h4>
                    <div class="input-group" style="width:320px">
                        <input class="form-control" type="number" style="top:0;" disabled id="hd" placeholder="Tamanho do HD" />
                        <div class="input-group-addon">GB</div>
                    </div>
                </div>
                <h2></h2>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>