@model string

@{
    string maquina = Model;
}

<div class="modal fade" id="removerMaquina" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Deseja remover?</h4>
            </div>
            <div class="modal-body">
                <h2>Computador: @maquina</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="RetiraDestaqueMesa()">Fechar</button>
                <button id="removeMaquina" type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
            </div>
        </div>
    </div>
</div>