@model ICollection<InfraMap.Dominio.Mesa.Mesa>
@{
    var mesa = Model.First(t => t.Id == ViewBag.idMesa);
    var nome = mesa.Colaborador != null ? mesa.Colaborador.Nome : "";
}
<div class="mesa" onclick="mesaClick(@ViewBag.idMesa)">
    <label class="numero-mesa" id="@ViewBag.idMesa">@ViewBag.idMesa</label>
    <div class="mesa-div">
        @if (mesa.TemRamal)
        {
            <span class="glyphicon glyphicon-phone-alt ramal" aria-hidden="true"></span>
        }

        @if (mesa.TemColaborador)
        {
            <span class="glyphicon glyphicon-user usuario" aria-hidden="true"></span>
        }

        @if (mesa.TemMaquina && !mesa.TemColaborador)
        {
            <span class="fa fa-logo fa-desktop computador"></span>
        }
        <label class="nome">@nome</label>
    </div>
</div>