@model InfraMap.Dominio.Sede.Andar.Andar
@{
    ViewBag.Title = "Sexto";
}
<section class="andar">
    @if (User.IsInRole("GERENTE"))
    {
        Html.RenderPartial("_OpcoesGerente");
    }
    else
    {
        Html.RenderPartial("_OpcoesInfra");
    }
    <h2>CWI - São Leopoldo - 6º andar</h2>
    <div id="partial"></div>
</section>
