@model InfraMap.Web.MVC.Models.AndarModel
@{
    ViewBag.Title = "Sexto";
}
<div style="width:100%;height:100px">
    <button id="btn-selecionarColaboradores" type="button" class="btn btn-default pull-right">Selecionar colaboradores</button>
    <button id="btn-salvarColaboradores" class="btn btn-default pull-right" type="button">Salvar colaboradores</button>
</div>
<section class="andar">
    <h2>CWI - São Leopoldo - 6º andar</h2>
    <div id="partial"></div>
</section>
