@model InfraMap.Dominio.Sede.Andar.Andar
@{
    ViewBag.Title = "Segundo";
}
<section class="andar">
    <div class="pull-right">
        <button id="btn-selecionarColaboradores" type="button" class="btn btn-default pull-right">Selecionar colaboradores</button>
        <button id="btn-salvarColaboradores" class="btn btn-default pull-right" type="button">Salvar colaboradores</button>
    </div>
    <h2>CWI - São Leopoldo - 2º andar</h2>
    <div id="partial"></div>
</section>
