@model InfraMap.Dominio.Sede.Andar.Andar
@{
    ViewBag.Title = "Segundo";
}
<section class="andar">
    @if (User.IsInRole("GERENTE"))
    {
        Html.RenderPartial("_OpcoesGerente");
    }
    @if (User.IsInRole("INFRA"))
    {
        Html.RenderPartial("_OpcoesInfra");
    }
    <h2>CWI - São Leopoldo - 2º andar</h2>
    <div id="partial"></div>
</section>
