<div class="body-content" role="document">
    <div class="label-center margin-bottom-80">
        <div>
            <h2>Adicionar modelo</h2>
        </div>
        <div>
            <div class="form-group">
                <h4>Modelo:</h4>
                <input class="form-control" id="InsereModelo" placeholder="Modelo do computador" style="margin: 0 auto" />
            </div>
            <div class="form-group">
                <h4>Processador:</h4>
                <input class="form-control" id="Insereprocessador" placeholder="Descrição do processador" style="margin: 0 auto" />
            </div>
            <div class="form-group">
                <h4>Pentes de Memória RAM:</h4>
                <input class="form-control" type="number" id="InsereunidadesMemoriaRam" placeholder="Número de pentes de memória RAM" style="margin: 0 auto"/>
            </div>
            <div class="form-group">
                <h4>Tamanho de cada pente:</h4>
                <div class="input-group" style="width:320px; margin: 0 auto">
                    <input class="form-control" style="top:0;" type="number" id="InserepenteMemoriaRamGB" placeholder="Tamanho de cada pente de memória RAM" />
                    <div class="input-group-addon">GB</div>
                </div>
            </div>
            <div class="form-group">
                <h4>Tamanho SSD:</h4>
                <div class="input-group" style="width:320px; margin: 0 auto">
                    <input class="form-control" type="number" style="top:0;" id="Inseressd" placeholder="Tamanho do SSD" />
                    <div class="input-group-addon">GB</div>
                </div>
            </div>
            <div class="form-group">
                <h4>Tamanho HD:</h4>
                <div class="input-group" style="width:320px; margin: 0 auto">
                    <input class="form-control" type="number" style="top:0;" id="Inserehd" placeholder="Tamanho do HD" />
                    <div class="input-group-addon">GB</div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" onclick="GoBack()">Cancelar</button>
                <button id="SalvaMaquina" type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>
