<div class="body-content" role="document">
    <div class="label-center margin-bottom-80">
        <div>
            <h2>Adicionar modelo</h2>
        </div>
        <div>
            <div class="form-group">
                <h4>Modelo:</h4>
                <input class="form-control col-centered"
                       id="InsereModelo"
                       placeholder="Modelo do computador" />
            </div>
            <div class="form-group">
                <h4>Processador:</h4>
                <input class="form-control col-centered"
                       id="Insereprocessador"
                       placeholder="Descrição do processador" />
            </div>
            <div class="form-group">
                <h4>Pentes de Memória RAM:</h4>
                <input class="form-control col-centered"
                       type="number"
                       value ="1"
                       min="1"
                       id="InsereunidadesMemoriaRam"
                       placeholder="Número de pentes de memória RAM"
                       oninput ="validarEntrada('InsereunidadesMemoriaRam')" />
            </div>
            <div class="form-group">
                <h4>Tamanho de cada pente:</h4>
                <div class="input-group col-centered" style="width:320px;">
                    <input class="form-control"
                           type="number"
                           value="1"
                           min="1"
                           id="InserepenteMemoriaRamGB"
                           placeholder="Tamanho de cada pente de memória RAM"
                           oninput="validarEntrada('InserepenteMemoriaRamGB')" />
                    <div class="input-group-addon">GB</div>
                </div>
            </div>
            <div class="form-group">
                <h4>Tamanho SSD:</h4>
                <div class="input-group col-centered" style="width:320px;">
                    <input class="form-control"
                           type="number"
                           value="1"
                           min="1"
                           id="Inseressd"
                           placeholder="Tamanho do SSD"
                           oninput="validarEntrada('Inseressd')" />
                    <div class="input-group-addon">GB</div>
                </div>
            </div>
            <div class="form-group">
                <h4>Tamanho HD:</h4>
                <div class="input-group col-centered" style="width:320px;">
                    <input class="form-control"
                           type="number"
                           value="1"
                           min="1"
                           id="Inserehd"
                           placeholder="Tamanho do HD"
                           oninput="validarEntrada('Inserehd')" />
                    <div class="input-group-addon">GB</div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" onclick="GoBack()">Cancelar</button>
                <button id="SalvaMaquina" type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>