<body onload="CarregaMaquinas()">
    <div class="body-content" role="document">
        <div class="body-content" style="align-items:center; text-align:center" >
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Editar Máquina</h4>
            </div>
            <div class="modal-body form-horizontal col-lg-4 col-lg-offset-4">
                <div class="form-group">
                    <label> Escolha o modelo para editar:</label>
                    <select id="dropdown-EditarMaquina" class="form-control" style="margin: 0 auto">
                        <option value="0">Selecione o modelo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Tipo: </label>
                    <select id="MaquinadoTipo" disabled>
                        <option value="0"> Padrão</option>
                        <option value="1"> Pessoal</option>
                    </select>
                </div>
                <div class="form-group" >
                    <label>Modelo: </label>
                    <input class="form-control" id="EditaModelo" placeholder="Modelo do computador" style="margin: 0 auto" disabled />
                </div>
                <div class="form-group">
                    <label>Processador:</label>
                    <input class="form-control" id="Editaprocessador" placeholder="Descrição do processador" style="margin: 0 auto" disabled/>
                </div>
                <div class="form-group">
                    <label>Placa Mãe:</label>
                    <input class="form-control" id="EditaplacaMae" placeholder="Descrição da Placa Mãe" style="margin: 0 auto" disabled/>
                </div>
                <div class="form-group">
                    <label>Pentes de Memória RAM:</label>
                    <input class="form-control" type="number" id="EditaunidadesMemoriaRam" placeholder="Número de pentes de memória RAM" style="margin: 0 auto" disabled/>
                </div>
                <div class="form-group">
                    <label>Tamanho de cada pente:</label>
                    <div class="input-group" style="width:320px; margin: 0 auto">
                        <input class="form-control" style="top:0; margin: 0 auto" type="number" id="EditapenteMemoriaRamGB" placeholder="Tamanho de cada pente de memória RAM" disabled />
                        <div class="input-group-addon">GB</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Tamanho SSD:</label>
                    <div class="input-group" style="width:320px; margin: 0 auto">
                        <input class="form-control" type="number" style="top:0;" id="Editassd" placeholder="Tamanho do SSD" disabled />
                        <div class="input-group-addon">GB</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Tamanho HD:</label>
                    <div class="input-group" style="width:320px; margin: 0 auto">
                        <input class="form-control" type="number" id="Editahd" placeholder="Tamanho do HD" disabled/>
                        <div class="input-group-addon">GB</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Fonte:</label>
                    <input class="form-control" id="Editafonte"  placeholder="Descrição da fonte" style="margin: 0 auto" disabled/>
                </div>
                <div class="form-group">
                    <label>Placa de Rede:</label>
                    <input class="form-control" id="EditaplacaRede"  placeholder="Descrição da placa de rede" style="margin: 0 auto" disabled/>
                </div>
                <div class="form-group">
                    <label>Driver Óptico:</label>
                    <input class="form-control" id="EditadriverOtico" placeholder="Descrição do driver óptico" style="margin: 0 auto" disabled/>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" onclick="GoBack()">Cancelar</button>
                    <button id="DeletaMaquina" type="button" class="btn btn-danger"> Deletar</button>
                    <button id="SalvaEdicaoMaquina" type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</body>