<div class="pull-right inline">
    <button id="btn-AdicionarMaquinas" type="button" class="btn btn-default pull-right" >Adicionar Máquina</button>
    <button id="btn-EditarMaquinas" class="btn btn-default pull-right" type="button">Editar Máquina</button>
</div>
