<div class="pull-right inline">
    <button id="btn-selecionarColaboradores" type="button" class="btn btn-default pull-right">Selecionar colaboradores</button>
    <button id="btn-salvarColaboradores" class="hide btn btn-default pull-right" type="button">Salvar colaboradores</button>
    <button id="btn-cancelar" class="hide btn btn-default pull-right" type="button">Cancelar</button>
</div>
