@model InfraMap.Web.MVC.Models.MesaModel

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Mesa</h4>
            </div>
            <div class="modal-body form-horizontal">
                @if (Model.TemColaborador)
                {
                    
                }
                else
                {
                    <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#colaborador">
                      Adicionar colaborador
                    </button>
                    <h2></h2>
                }
                @if (Model.TemMaquina)
                {

                }
                else
                {
                    <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#maquina">
                        Adicionar maquina
                    </button>
                    <h2></h2>
                }
                @if (Model.TemRamal)
                {

                }
                else
                {
                    <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#ramal">
                        Adicionar ramal
                    </button>
                    <h2></h2>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="spotMesa" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="colaborador" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Adicionar colaborador</h4>
            </div>
            <div class="modal-body">
                <input form="form-control" id="idMesa" value=@Model.Id type="hidden" />
                <input form="form-control" id="login" name="nome" placeholder="Procure o colaborador" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="adicionaUsuario" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="maquina" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Adicionar maquina</h4>
                <input form="form-control" id="maquina-auto-complete" name="nome" placeholder="Procure a máquina" />
            </div>
            <div class="modal-body">
                <input form="form-control" id="idMesa" value=@Model.Id type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="adicionaMaquina" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ramal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Adicionar ramal</h4>
                @*Dropdown dos ramais que o value seja o id do selecionado!*@
            </div>
            <div class="modal-body">
                <input form="form-control" id="idMesa" value=@Model.Id type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="adicionaRamal" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/andarJs")
    @Scripts.Render("~/bundles/mesa")
    <script src="~/Content/jquery.easy-autocomplete.min.js"></script>
    @RenderSection("Scripts", false)
    <script>
        var usuarioAutoComplete = {
            url: "Base/UsuarioAutoComplete",
            getValue: "label",
            list: {
                match: {
                    enabled: true
                }
            }
        };
        $("#login").easyAutocomplete(usuarioAutoComplete);
    </script>
    <script>
        var usuarioAutoComplete = {
            url: "Mapa/MaquinaAutoComplete",
            getValue: "label",
            list: {
                match: {
                    enabled: true
                }
            }
        };
        $("#maquina-auto-complete").easyAutocomplete(usuarioAutoComplete);
    </script>
}


