@{
    ViewBag.Title = "Terceiro";
}

@Styles.Render("~/bundles/andarCss")

<section class="andar">
    <div class="fileira">
        <div class="mesa">

        </div>
        <div class="mesa">

        </div>
        <div class="mesa">

        </div>
        <div class="mesa">

        </div>
        <div class="mesa">

        </div>
        <div class="mesa">

        </div>
        <div class="mesa">

        </div>
        <div class="mesa">

        </div>
        <div class="mesa">

        </div>
    </div>

    <div class="ilha">
        <div class="fileira">
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
        </div>

        <div class="fileira">
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
        </div>
    </div>

    <div class="ilha">
        <div class="fileira">
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
        </div>

        <div class="fileira">
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
        </div>
    </div>

    <div class="ilha">
        <div class="fileira">
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
        </div>

        <div class="fileira">
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
        </div>
    </div>

    <div class="ilha">
        <div class="fileira">
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
        </div>

        <div class="fileira">
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
        </div>
    </div>

    <div class="ilha">
        <div class="fileira">
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
        </div>

        <div class="fileira">
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
        </div>
    </div>

    <div class="ilha">
        <div class="fileira">
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
        </div>

        <div class="fileira">
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
            <div class="mesa">

            </div>
        </div>
    </div>

    <div class="espaco">
        <div class="auditorio"></div>
        <div class="diretoria"></div>
    </div>

    <div class="reuniao">
        <div class="sala">
            Sala 3.1
        </div>
        <div class="sala">
            Sala 3.2
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/andarJs")
    @Scripts.Render("~/bundles/mesa")
}

