@model InfraMap.Web.MVC.Models.SedeModel
@{
    ViewBag.Title = "Index";
}

<div class="bloco-sede" id="sede-sao-leo">
    <input type="hidden" value="1" />
    <div class="div-img-sede">
        <img src="" class="img-sede" />
    </div>
    <div class="descricao-sede">
        <p>Cwi-Software Sao Leopoldo</p>
    </div>
</div>

<div id="dropdown-andar"></div>

@section Scripts {
    @Scripts.Render("~/bundles/sede")
}

