@model ICollection<InfraMap.Dominio.Sede.Sede>

@{
    ViewBag.Title = "Index";
}

<div class="sede-container">
    @for (var i = 0; i < Model.Count; i++)
    {
        @Html.Partial("_Sede", Model.ElementAt(i));
    }
</div>

<div class="modal fade" id="modalSede" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Fechar</button>
                <h4 class="modal-title" id="myModalLabel">Selecione o andar</h4>
            </div>
            <div class="modal-body">
                <select name="andar"  class="form-control center-block margin-top-20" id="dropdown-andar"></select>
                <button type="button" class="btn btn-primary btn-block margin-top-20 center-block btn-andar-ir" id="btn-ir">Ir</button>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
