html{
    height:100%;
}
body {
    height:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    height : 70%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-header{
    height: 20%;
}
.logo {
    width: 137px;
    height: 35px;
    background: url('img/logo.png') no-repeat;
    margin-top: 20px;
}

.color-menu{
    background-color: #808080;
}
.footer {
    padding: 10px 15px 15px;
    color: #444;
    background: #efefef;
    height:10%;
}

.icon-bar {
   background-color:black !important;
}

.col-centered{
    margin: 10% auto;
    float: none;
}

.bloco-sede {
    padding:20px;
    cursor:pointer;
    height:70%;
    background-color:rgb(194,193,193);
    border-radius:20px;
}

.bloco-sede:hover{
    background-color:rgb(180,180,180);
}

.div-img-sede{
    width:100%;
    height:80%;
    margin: 10px 0;
}

.img-sede{
    width:100%;
    height:100%;
    position:relative;
}

.descricao-sede{
    width:100%;
    height:15%;
    color:white;
}

.margin-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.inline{
    display:inline;
}

.padding-20{
    padding:20px;
}

.inframap {
    font-style: italic;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}