html{
    height:100%;
}
body {
    height:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 20%;
    padding-left: 15px;
    padding-right: 15px;
    height : 70%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-header{
    height: 20%;
}
.logo {
    width:250px;
    height:70px;
    background: url('img/logoCWI.png') no-repeat;
}

.color-menu{
    background-color: #A5BDCD;
}
.footer {
    padding: 10px 15px 15px;
    color: #444;
    background: #efefef;
    height:10%;
}

.icon-bar {
   background-color:black !important;
}

.col-centered{
    margin: 10% auto;
    float: none;
}

.bloco-sede {
    margin-top: 40px;
    width:130px;
    height:200px;
    background-color:rgb(194,193,193);
    border-radius:20px;
}

.div-img-sede{
    width:100px;
    height:105px;
    margin-top:10px;
    margin-left:15px;
}

.img-sede{
    width:100px;
    height:105px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-50px;
    position:relative;
}

.descricao-sede{
    width:100px;
    height:70px;
    margin-bottom:10px;
    margin-left:15px;
    text-align:center;
    color:white;
    margin-top:10px;
    padding-top:10px;
}
