.andar {
    width: 1092px;
    height: 1250px;
    margin: 0 auto;
    margin-top: 20px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.salas-sul-cwi-sl {
    float: left;
    height: 100px;
}

.salas-norte-cwi-sl {
    float: left;
    height: 100px;
}

.salas-oeste-cwi-sl {
    float: right;
    width: 335px;
}

.sala {
    position: relative;
    float: left;
    display: inline-block;
    border: 2px solid #000;
    border-radius: 4px;
    margin: 2px 2px;
    cursor: pointer;
    text-align: center;
}

.espaco-fileiras-cwi-sl {
    float: inherit;
    display: inline-block;
    height: 50px;
    width: inherit;
}

.fileira {
    height: 50px;
}

.mesas-andar-3 {
    float: left;
    width: 756px; /*Comprimento dá última fileira (80px + 2px + 2px) * 9*/
}
.mesa {
    position: relative;
    float: left;
    display: inline-block;
    width: 80px;
    height: 45px;
    border: 2px solid #000;
    border-radius: 4px;
    margin: 2px 2px;
    cursor: pointer;
}

.mesa:hover {
    cursor: pointer;
    outline: 0;
    box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.55);
}

.form-inline {
    text-align: center;
    position: relative;
    top: -2px;
}

.nome {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    text-align: center;
    margin-left: 6px;
    font-size: 12px;
    top: 6px;
    left: -5px;
}

label {
    position: relative;
    font-size: 8px;
    top: -5px;
    left: 1px;
}

.mesa-div {
    position: relative;
    width: 100%;
    height: 100%;
}

.computador {
    position: relative;
    margin-left: 8%;
    margin-top: 12px;
}

.fa {
    font: normal normal normal 16px/1 FontAwesome !important;
}

.fa-logo {
    font: normal normal normal 25px/1 FontAwesome !important;
}

.fa-search {
    font: normal normal normal 14px/1 FontAwesome !important;
}

.numero-mesa {
    position: relative;
    margin: 5px;
    margin-top: 5px;
    float: right;
}

.ramal {
    position: relative;
    font-size: 15px;
    margin: 0;
    float: right;
    margin-right: 3px;
}

.usuario {
    position: relative;
    font-size: 25px;
    display: table;
    margin: 0 auto;
}

div .ui-selected {
    background: #F39814;
    color: white;
}

.btn {
    text-transform: uppercase;
    font-weight: 600;
    color: black;
}

.btn-primary {
    background-color: white;
    color: #4169E1;
}

.btn-primary:hover {
    transition: all 1s;
    background-color: #4169E1;
    color: white;
}

.btn-danger {
    background-color: white;
    color: #B22222;
}

.btn-danger:hover {
    transition: all 1s;
    background-color: #B22222;
    color: white;
}