html{
    height:100%;
}
body {
    height:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height : 100%;
    width:100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 320px;
}

.box-container{
    padding-left:10px;
    padding-right:10px;
    margin-top: 100px;
}

.navbar-header{
    height: 20%;
}
.logo {
    width: 137px;
    height: 35px;
    background: url('img/logo.png') no-repeat;
    margin-top: 20px;
    margin-bottom:10px;
}

.font-14{
    font-size:14px;
}

.label-center{
    display: block;
    text-align: center;
}

.margin-sala-reuniao{
    margin-top:10%;
}

.margin-sala-diretoria{
    margin-top:30%;
}

.margin-auditorio{
    margin-top:120%;
}

.color-menu{
    background-color: #D3D3D3;
}

.icon-bar {
   background-color:black !important;
}

.jumbotron{
    text-align:center;
}

.inline-block{
    display:inline-block;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.sede-container {
    width:1092px;
    margin:0 auto;
    text-align:center;
}

.sede-text {
    font-size:18px;
    font-weight:500;
    line-height:1.1;
    margin-top:20px;
    margin-bottom:20px;
}

.sede {
    padding:10px;
    cursor:pointer;
    background-color:#808080;
    border-radius:10px;
    display:inline-block;
    width:300px;
    height:400px;
    margin:10px;
}

.sede:hover {
    background-color:#696969;
}

.sede-img {
    width:100%;
    height:100%;
    position:relative;
}

.sede-descricao {
    width:100%;
    height:10%;
    text-align: center;
}


.margin-navbar {
    margin:5px 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-bottom-80{
    margin-bottom: 80px;
}


.inline{
    display:inline;
}

.padding-20{
    padding:20px;
}

.inframap {
    font-style: italic;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.radius-campo-pesquisa{
    border-radius: 3px !important;
}

.tamanho-colaborador{
    width: 320px;
}

.input-group{
    width: 250px;
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

.header {
   position:fixed;
   left:0px;
   top:0px;
   width:100%;
}

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}

.mouse-pointer {
    cursor: pointer;
}

.btn-andar-ir {
    width: 60%;
}

.box-cor {
    width: 50%;
    height:32px;
    border-radius: 4px;
}